.a {
  height: 20px;
  width: 20px;
  background: url(../assets/icon.png) center no-repeat;

  .b {
    color: blue;
  }
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
